$mobile: 768px;
$desktop_xsm: 980px;
$desktop_sm: 1080px;
$desktop_md: 1280px;
$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #242536;
$dark-grey: #92929d;
$darkest-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;

.voltar {
  background-color: transparent;
  border: none;
  color: $red;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.titulo {
  font-size: 3rem;
}
.imagem {
  width: 600px;
  img {
    border-radius: 8px;
    width: 100%;
  }
}
.conteudo {
  align-items: center;
  display: flex;
  flex-direction: column;
  &__descricao {
    color: $darkest-grey;
    font-size: 1.5rem;
    font-weight: bold;
  }
  &____detalhes {
    display: flex;
    justify-content: space-between;
  }
}
