$mobile: 768px;
$desktop_xsm: 980px;
$desktop_sm: 1080px;
$desktop_md: 1280px;
$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #242536;
$dark-grey: #92929d;
$darkest-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;
  
  .header {
    align-items: center;
    background-image: url("/assets/cardapio/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 300px;
    padding: 0px $padding-horizontal;
    @media (max-width: $desktop_xsm) {
      padding: 0px 0;
    }
    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
      padding: 0px $padding-horizontal-sm;
    }
    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
      padding: 0px $padding-horizontal-md;
    }
    @media (min-width: $mobile) and (max-width: $mobile) {
      padding: 0px $padding-horizontal-md;
    }
    &__text {
      color: white;
      font-size: 5rem;
      min-width: 400px;
      width: 40%;
    }
  }