$mobile: 768px;
$desktop_xsm: 980px;
$desktop_sm: 1080px;
$desktop_md: 1280px;
$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #242536;
$dark-grey: #92929d;
$darkest-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;

.buscador {
    align-items: center;
    background-color: $grey;
    border-radius: 5px;
    display: flex;
    gap: 18px;
    height: 42px;
    justify-content: space-between;
    padding: 0 15px;
    width: 400px;
    @media (max-width: $mobile) {
      width: 100%;
    }
    input {
      background-color: $grey;
      border: none;
      font-size: 1.5rem;
      font-weight: bold;
      outline: none;
      width: 100%;
      &::placeholder {
        color: #4c4d5e;
      }
    }
  }